<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You for Using Our App</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .header {
      background-color: #4CAF50;
      color: #fff;
      text-align: center;
      padding: 20px;
    }

    .content {
      padding: 20px;
    }

    .footer {
      background-color: #4CAF50;
      color: #fff;
      text-align: center;
      padding: 10px;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="header">
      <h2><%= userName %></h2>
      <h5>Thank You for choosing Our App</h5>
    </div>

    <div class="content">
      <p>We appreciate your trust in our services. Your satisfaction is our priority, and we are here to assist you in any way we can.</p>
      <p>If you have any feedback or questions, feel free to reach out to our support team.This is just a mail template for check and it is not involed any verification. If you not registered in our app. Please avoid this</p>
      <p>Thank you again for being a valued user!</p>
    </div>

    <div class="footer">
      <p>We value our users - nameismani</p>
    </div>
  </div>

</body>

</html>
